<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDoList</title>
</head>

<body>
    <h2> ToDo List </h2>
    <form action="/add" method="POST">

        <input type="text" name="new" placeholder="add new task"> <button> Add </button>
        <h2> Added Task </h2>

        <% for(var i=0;i<tab.length;i++) {%>
        <li><input type="checkbox" name="check" value="<%= tab[i] %>" /> <%= tab[i] %> </li>
        <%}%>
        <br><br>
        <button formaction="/complete" type="submit"> Completed </button><br>
        <button formaction="/remove" type="submit"> Remove </button>
    </form>
    <h2> Completed task </h2>
    <% for(var i = 0; i < com.length; i++){ %>
        <li><%= com[i] %> </li>
        <% } %>
</body>

</html>